@charset "utf-8";
@font-face {
    font-family: Lemon_Milk;
    src: url(../fonts/lemon_milk/LEMONMILK-Regular.otf);
  }
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*,
*:before,
*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
*:focus{outline:0}
html{
	-webkit-font-smoothing:antialiased;
}

body{
	margin:119px 0 0 0;
	padding:0 0;
	font-weight:normal;
	background: #FFFFFF;
	font-family: 'Poppins', sans-serif;
    color: #000;
	line-height:1.375;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-moz-box;
	display:flex;
	
	-webkit-flex-wrap:nowrap;
	-moz-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6,ul{
	margin:0;
	padding:0;
}
ul{list-style-type:none}
h1, h2, h3, h4, h5, h6{    
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #191919;
    font-variant: normal;
    text-transform: capitalize;
}
h2{
	font-family: 'Poppins', sans-serif;
	font-size:25px;
	line-height:40px;
	font-weight:600;
}
h4{
	font-family: 'Poppins', sans-serif;
	line-height:25px;
	font-weight:500;
	font-size:18px;
}
h5{
	font-family: 'Poppins', sans-serif;
	line-height:1.181818181818182em;
	font-size:22px;
}
a{
    font-family: 'Poppins', 'Arial', sans-serif;
    color: rgb(25, 25, 25);
	text-decoration:none;
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
	display:inline-block;
	
    -webkit-user-select:none; /* Safari 3.1+ */
    -moz-user-select:none; /* Firefox 2+ */
    -ms-user-select:none; /* IE 10+ */
    user-select:none; /* Standard syntax */
}
a:hover,
a:focus,
a:visited{text-decoration:none}
a:hover{color:#0056b3}

p{
	font-family: 'Poppins', sans-serif;
	margin:5px 0px;
	line-height:26px;
	font-size:15px;
    color:#0a0a0a;
}
.header{
	width:100%;
	position:relative;
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
	position:fixed;
	z-index:9;
	left:0;
	top:0;
}
.header.fix{
	background-color:rgba(255,255,255,1);
}
.hdrIn{
	width:100%;
	padding:22px 0;
	position:relative;
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.closebtn{display: none}
.togglarBtn{display: none}
.header.fix .hdrIn{padding:10px 0}
.header.fix .hdrIn .logo{
	width: 20%;
}
/* .header.fix .hdrIn .nav > ul > li > a{font-weight: 600} */

.hdrIn::after,
.hdrIn::before{
	display:block;
	content:"";
}
.hdrIn::after{clear:both}

.logo{
	width:20%;
	float:left;
	-webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.logo img{
	width:100%;
	display:block;
}
.phone{
    display: none;
}
.nav{
	width: 80%;
	position: relative;
}
.nav ul{
	margin:0;
	padding:0;
	list-style:none;
	position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav li{
	font-weight:600;
    font-family: 'Poppins', sans-serif;
	text-transform:uppercase;
	line-height:16px;
	font-size:13px;
	color:#fff;
}
.nav li:last-child a{
    padding: 0 34px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(to right, rgba(241,99,125,1) 0%, rgba(115,99,177,1) 100%);
    background-size: cover;
    border-radius: 25px;
}
.nav li:last-child a:hover{
    background-color: rgb(241, 99, 125);
    background-image: linear-gradient(45deg, rgb(115, 99, 177) 10%, rgb(241, 99, 125) 90%);
    color: #fff;
}
.nav > ul > li{display: inline-block;}
.nav li a{
	display: inline-block;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
    line-height: 40px;
	text-align: center;
    text-transform: uppercase;
    padding: 10px 12px;
    color: #000000;
}
.nav li a:hover{
    color: #f1637d;
    background-color: transparent;
}
.nav >ul > li a.active{
    color: #f1637d;
    background-color: transparent;
}
/* .nav >ul > li a.active:after {
    width: 100%;
}
.nav >ul > li a:after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color:  #56C8E7;
    transition: 0.2s all;
}
.nav >ul > li a:hover:after{width: 100%}
.nav >ul > li a:focus:after{width: 100%;} */

.home_bnr{
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url(../img/homebannr.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}

.home_bnr h4{
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0.18em;
    line-height: 1.2;
    margin: 0;
}

.home_bnr h2{
    color: rgb(255, 255, 255);
    font-size: 72px;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    margin: 0;
}

.button{
    display: inline-block;
    margin-bottom: 0;
    padding: 0.775em 0.875em;
    background-color: #d9d9d9;
    border: 1px solid transparent;
    border-radius: 0;
    color: #222222;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.home_bnr .btn_bnr{
    padding: 15px 90px;
    font-size: 14px;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 0%, transparent 100%);
    border: 2px solid #fff;
    border-radius: 30px;
    color: rgb(255, 255, 255) !important;
    font-weight: normal;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
} 

.home_bnr .btn_bnr:hover{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, transparent 10%, transparent 90%);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(25, 25, 25) !important;
}

.home_bnr p{
    font-size: 22px;
    color: #fff;
    line-height: 33px;
    font-weight: 400;
}

.home_bnr .bnr_btn{
    padding: 20px 0;
}

.leading_company{
    background-color: rgb(246, 244, 244);
    padding: 40px 0;
}

.leading_company h3{
    color: rgb(25, 25, 25);
    font-size: 22px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 26.4px;
}

.leading_company .company_logo{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leading_company .single_company_logo{
    width: 13%;
}

.leading_company .single_company_logo img{
    width: 100%;
    height: auto;
}

.home_women{
    background-color: #fff;
    padding: 80px 0;
}

.home_women .women_heading{
    color: rgb(25, 25, 25);
    font-size: 30px;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
}

.home_women .women_details{
    padding-bottom: 40px;
    padding-top: 60px;
}

.home_women .women_details .col-md-3{
    display: flex;
    margin-top: 65px;
}

.home_women .women_details .single_women_details{
    border: 2px solid rgb(241, 99, 125);
    position: relative;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    text-align: center;
}

.home_women .women_details img{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.home_women .women_details .single_women_details h2{
    color: rgb(25, 25, 25);
    font-size: 18px;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0.18em;
    line-height: 1.2;
    text-transform: uppercase;
}

.home_women .women_details .single_women_details p{
    font-size: 15px;
    margin-bottom: 0;
    color: rgb(25, 25, 25);
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home_women .women_apply{
    padding: 40px 0;
    text-align: center;
}

.home_women .women_apply h2{
    color: rgb(25, 25, 25);
    font-size: 22px;
    margin:0 0 20px 0;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
}

.button.women_btn{
    padding: 15px 90px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, rgb(241, 99, 125) 0%, rgb(115, 99, 177) 100%);
    border-radius: 30px;
    color: #fff !important;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
}

.button.women_btn:hover{
    background-color: rgb(241, 99, 125);
    background-image: linear-gradient(45deg, rgb(115, 99, 177) 10%, rgb(241, 99, 125) 90%);
    color: #fff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.home_women .women_experience_pt{
    padding-top: 40px;
}

.home_women .women_experience{
    align-items: center;
}

.home_women .women_experience h4{
    color: rgb(25, 25, 25);
    font-size: 32px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0.18em;
    line-height: 1.2;
    font-variant: normal;
    text-transform: uppercase;
}

.home_women .women_experience h2{
    color: rgb(241, 99, 125);
    font-size: 42px;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    margin: 0;
}

.home_women .women_experience h5{
    color: rgb(25, 25, 25);
    font-size: 18px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 10px;
}

.home_women .women_experience .single_experience_details{
    border-left: 3px solid rgb(241, 99, 125);
    padding-left: 20px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.home_women .women_experience .single_experience_details p{
    font-size: 15px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.9em;
}

.home_women .women_experience .single_experience_details .single_experience_btn{
    padding: 15px 60px;
    font-size: 14px;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 10%, transparent 90%);
    border-top: 2px solid rgb(241, 99, 125);
    border-right: 2px solid rgb(241, 99, 125);
    border-bottom: 2px solid rgb(241, 99, 125);
    border-left: 2px solid rgb(241, 99, 125);
    border-radius: 30px;
    color: rgb(25, 25, 25) !important;
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home_women .women_experience .single_experience_details .single_experience_btn:hover{
    background-color: rgb(241, 99, 125);
    background-image: linear-gradient(0deg, transparent 10%, transparent 90%);
    border-top: 2px solid rgb(241, 99, 125);
    border-right: 2px solid rgb(241, 99, 125);
    border-bottom: 2px solid rgb(241, 99, 125);
    border-left: 2px solid rgb(241, 99, 125);
    color: rgb(255, 255, 255) !important;
}

.training{
    padding: 80px 0;
    background-color: rgb(246, 244, 244);
}

.training h5{
    color: rgb(25, 25, 25);
    font-size: 18px;
    margin: 0 0 10px 0;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    font-variant: normal;
    text-transform: uppercase;
}

.training h2{
    color: rgb(241, 99, 125);
    font-size: 34px;
    font-variant: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
}

.training h6{
    color: rgb(25, 25, 25);
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.training .training_details{
    padding: 10px 0;
}

.training .single_training{
    background-image: url(../img/single-training-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 90px 60px;
    text-align: center;
    background-size: contain;
}

.training .single_training h6{
    margin-bottom: 0.9em;
    font-size: 24px;
    font-family: poppins;
    color: #ffffff;
    font-weight: 700;
}

.training .single_training p{
    margin-bottom: 0.9em;
    color: #fff;
    font-family: poppins;
    font-size: 16px;
}

.training .button.women_btn{
    margin-top: 10px;
}

.testimonials{
    padding: 80px 0;
}

.testimonials h2{
    color: rgb(241, 99, 125);
    margin-bottom: 13px;
    font-size: 30px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    line-height: 1.3;
}

.testimonial_slider{
    margin-bottom: 50px;
}

.testimonial_slider button.owl-prev {
    position: absolute;
    left: 0;
    top: 0;
}

.testimonial_slider button.owl-next {
    position: absolute;
    right: 0;
    top: 0;
}

.testimonial_slider .owl-nav i {
    color: rgb(252, 118, 19);
    font-size: 25px;
}

.single_testimoniale_details{
    text-align: center;
}

.single_testimoniale_details h4{
    margin-bottom: 20px;
}

.single_testimoniale_details h4 a{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    /* color: rgb(241, 99, 125) !important; */
}

.single_testimoniale_details h4 a:hover{
    color: rgb(241, 99, 125) !important;
}

.single_testimoniale_details p{
    font-size: 16px;
    margin-bottom: 15px;
}

.testimonials img{
    width: 80%;
    height: auto;
}

.page_area{
    background: url(../img/course-bnr.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}

.page_area.calendarhd{
    background: url(../img/calendar-bnr.png) no-repeat center;
    background-size: cover;
    display: none;
}

.page_area.individual{
    background: url(../img/individual.jpg) no-repeat center;
    background-size: cover;
    display: none;
}

.page_area.individual::after{
    content: none;
}

.page_area::after, .course_details_bnr::after{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(241,99,125,1) 0%, rgba(115,99,177,1) 100%) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.page_area h1, .course_details_bnr h1{
    font-size: 43px;
    color: #fff;
    font-family: 'Lemon_milk', 'Arial', 'sans-serif';
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
}

.page_area p, .course_details_bnr p{
    margin-top: 10px;
    font-size: 25px;
    line-height: 36px;
    color: #fff;
}

.page_area ul{
    margin-top: 10px;
}

.page_area ul li{
    list-style-type: disc;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.page_area .contact_details{
    background-color: rgba(246, 244, 244, 0.7);
    padding: 20px;
    margin-bottom: 1.17em;
    margin-top: 0;
}

.individual_info h3{
    margin-bottom: 13px;
    font-size: 30px;
}

/* .page_area .page_area_content , .course_details_bnr .page_area_content{
    width: 64%;
} */

.page_area .btn_area, .course_details_bnr .btn_area{
    margin-top: 20px;
}

.page_area .course_btn, .course_details_bnr .course_btn{
    padding: 15px 70px;
    font-size: 14px;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 0%, transparent 100%);
    border: 2px solid #fff;
    border-radius: 30px;
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 700;
    margin-right: 20px;
}

.course_details_bnr{
    background: url(../img/course_detailsBG.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}

.course_body{
    padding: 50px 0 200px 0;
    background-color: #f7f7f7;
}

.course_body h2{
    color: #0b0b0b;
    font-size: 44px;
    font-family: 'Lemon_milk', 'Arial', 'sans-serif';
    text-transform: uppercase;
}

.course_body .tabs{
    margin-top: 45px;
    border-bottom: 1px solid #cacaca;
    width: 100%;
}

.course_body .tabs a{
    color: #8d8d8d;
    font-size: 21px;
    padding: 10px 10px 10px 0;
    margin-right: 30px;
    font-weight: 500;
    
}

.tab_active{
    border-bottom: 5px solid;
    border-image-source: linear-gradient(to right, #7363b1 50%, #f1637d 50% );
    border-image-slice: 1;
    color: #0b0b0b !important;
}

.course_details{
    padding: 20px 0;
}

.course_details .details_btn{
    margin-top: 20px;
    margin-bottom: 68px;
}

.course_details .details_btn a{
    font-size: 24px;
    padding: 5px 38px;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;
    margin-right: 5px;
    border-radius: 30px;    
}

.course_details .details_btn a:hover{
    border: 1px solid #f28498;
    background-color: #f5c6cf;
    border-radius: 30px;
    color: #000;
}

.course_details .details_btn a.active{
    border: 1px solid #f28498;
    background-color: #f5c6cf;
    border-radius: 30px;
}

.course_details .details_btn a span{
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.span_red{
    background-color: #f1637d;
}

.span_prpl{
    background-color: #7363b1;
}

.course_details h3{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
}

.owl-carousel.owl-theme{
    padding: 0 30px;
}

.course_details .owl-stage-outer{margin-bottom: 30px;}

.course_details .owl-nav.disabled{display: block !important;}

.owl-nav{
    width:100%;
}
.owl-nav i{
    color: #000;
    font-size: 35px;
}

button.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

button.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slider_item{}

.single_course_details{
    cursor: pointer;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.1);
}

.single_course_details .course_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.course_details .owl-carousel .owl-item img{
    display: block;
    width: 100%;
}

.course_details .item{
    padding: 30px 0;
}

.single_course_details .course_info{
    margin-top: 22px;
}

.single_course_details .course_info h4{
    color: #000;
    font-weight: 700;
    font-size: 21px;
    font-family: 'Poppins', 'Arial', sans-serif;
}
.single_course_details .course_info p{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 15px;
    color: #313131;
}

.single_course_details .course_schedule{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .single_course_details .course_schedule .schedule{}
.single_course_details .course_schedule .schedule_2{} */

.single_course_details .course_schedule .schedule p{
    color: #0f0f0f;
    font-size: 15px;
    font-weight: 600;
}
.single_course_details .course_schedule .schedule p span{
    font-size: 18px;
    font-weight: 600;
}

.single_course_details .course_schedule .schedule_2 p{
    font-size: 16px;
    font-weight: 700;
}

.single_course_details .course_schedule .schedule_2 span{
    font-weight: 500;
    font-size: 15px;
}

.schedule_btn a{
    padding: 8px 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(to right, rgba(241,99,125,1) 0%, rgba(115,99,177,1) 100%);
    background-size: cover;
    border-radius: 25px;
    text-transform: uppercase;
}

.schedule_btn a:hover{
    background-color: rgb(241, 99, 125);
    background-image: linear-gradient(45deg, rgb(115, 99, 177) 10%, rgb(241, 99, 125) 90%);
    color: #fff;
    margin: 0;
}

.center_align{
    align-items: center;
}

.page_area .contact_details p{color: #000}

.individual_course_heading{
    padding: 60px 0;
}

.individual_course_tab{
    display: none;
}

.individual_courses .heading_indi h2{
    font-size: 45px;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #f1637d;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.2;
}

.individual_courses .heading_indi p{
    font-size: 18px;
    margin-bottom: 0;
    color: #191919;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
}

.individual_courses .indi_body{
    background-image: linear-gradient(90deg, rgb(241, 99, 125) 37%, rgb(255, 255, 255) 37%);
    padding: 60px 0;
}

.youtube_embed{
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    height: 0;
}

.youtube_embed iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.our_clases{
    padding-left: 35px;
}

.our_clases h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    color: #191919;
    text-transform: capitalize;
    line-height: 1.3;
}

.our_clases ul{
    margin-bottom: 0.9em;
    padding-left: 20px;
}

.our_clases ul li{
    font-size: 16px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
    list-style-type: disc;
}

.our_clases p{
    font-size: 16px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 400;
    list-style-type: disc;
    margin-bottom: 0.9em;
}

.our_clases h5{
    margin-bottom: 0.9em;
    font-weight: 700;
    color: #f1637d;
    font-size: 16px;
}

.our_clases h5 a{
    font-weight: 700;
    color: #f1637d;
    font-size: 16px;
    border-bottom: 1px solid #0056b3;
}

.calendar{
    display: none;
}

.calendar .date{
    margin-bottom: 30px;
}

.calendar .date h3{
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .date h3 span{cursor: pointer;}

.calendar .date h3 .cal{color: #c9c9c9;}

/* .calendar .date h3 .angle{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #f9f9f9;
} */

/* .calendar .date h3 .angle{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    color: #898989;
    transition: 0.3s all ease-in-out;
} */

/* .calendar .date h3 .angle:hover{
    box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.1);
    color: #000;
} */

#datepicker{
    display: inline-block;
    cursor: default;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-datepicker-prev,.ui-datepicker-next {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    color: #898989;
    transition: 0.3s all ease-in-out;
    position: absolute;
    right: 0;
}
.ui-datepicker-prev{
    left: 26%;
}
.ui-datepicker-next{
    left: 30%;
}
.ui-datepicker-prev:hover,.ui-datepicker-next:hover{
    box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.calendar .single_course_details{
    margin-bottom: 30px;
    position: relative;
}

.calendar .single_course_details .ongoing{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    background-color: #f1637d;
    padding: 10px 20px;
    border-radius: 30px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.calendar .course_img img{
    width: 100%;
}

.calendar .schedule_btn a{
    padding: 10px 30px;
}

.course_details_section{
    padding: 72px 0;
}

.details_sidebar{
    padding-bottom: 30px;
    border-bottom: 1px solid #eae7e7;
}

.details_sidebar h5, .more_details h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 48px;
    color: #0f0f0f;
    text-transform: uppercase;
}

.details_sidebar p{
    font-size: 18px;
    color: #0f0f0f;
}

.more_details{
    padding-top: 45px;
}

.more_details ul li{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 48px;
    color: #0f0f0f;
}

.details_section{
    padding: 0 0 0 32px;
    border-left: 1px solid #eae7e7;
}

.details_section_heading h4{
    font-size: 24px;
    line-height: 48px;
    color: #0f0f0f;
}

.details_section_heading h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #0f0f0f;
}

.details_section_heading p{
    font-size: 16px;
    color: #0f0f0f;
}

.play_video{
    margin-top: 55px;
    position: relative;
    /* -webkit-box-shadow: 0px 5px 9px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 9px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 9px -4px rgba(0, 0, 0, 0.3); */
}

.play_video img{
    width: 100%;
    height: auto;
}

.play_video .vi, .play_video iframe{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.example-1 {
    align-items: center;
    animation: 1s ease 0s normal none infinite running shadow-pulse;
    /* background: #fff none repeat scroll 0 0; */
    background: linear-gradient(to right, rgba(241,99,125,1) 0%, rgba(115,99,177,1) 100%);
    border-radius: 50%;
    color: #fff;
    display: flex;
    float: left;
    height: 70px;
    justify-content: center;
    margin: 40px;
    text-align: center;
    width: 70px;
}

.example-1 .fa-play {
    color: #fff;
    font-size: 22px;
}

.requisites{
    margin-top: 41px;
}

.requisites h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #0f0f0f;
    margin-bottom: 20px;
}

.requisites h6{
    font-size: 18px;
    line-height: 30px;
    color: #0f0f0f;
    font-weight: 600;
}

.requisites ul{
    margin-top: 25px;
    margin-bottom: 38px;
}

.requisites ul li{
    list-style-type: decimal;
    font-size: 16px;
    line-height: 30px;
    color: #0f0f0f;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.requisites ul li ul{
    margin: 0;
    padding-left: 10px;
}

.requisites ul li ul li{
    list-style-type: lower-alpha;
}

.module_section{
    margin-top: 90px;
}

.module_section h3{
    font-size: 24px;
    line-height: 48px;
    font-weight: 600px;
    color: #0f0f0f;
}

.owl-carousel.owl-theme{
    padding: 0 30px;
}

.module_section .owl-stage-outer{margin-bottom: 30px;}

.module_section .owl-nav.disabled{display: block !important;}

.module_section .owl-nav i{
    width:100%;
    font-size: 20px;
}
/* .owl-nav i{
    color: #000;
    font-size: 35px;
} */

.module_slider.owl-carousel .owl-nav button.owl-next{
    background-color: #fff;
}

.module_slider button.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.module_slider button.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.course_details .owl-carousel .owl-item img{
    display: block;
    width: 100%;
}

.module_slider .item{
    display: block;
    z-index: 1;
    background-color: #5410bf;
}

.single_module_details{
    background-color: #fff;
    position: relative;
    height: 260px;
}

.module_slider .item::after{
    content: "";
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #5410bf 0%, #5410bf 100%) repeat scroll 0 0;;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
}

.single_module_details .module_img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.single_module_details .module_info{
    padding: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.single_module_details .module_info h4{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    font-family: 'Poppins', 'Arial', sans-serif;
}
.single_module_details .module_info p{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    line-height: 1.5;
}

.faq_bnr{
    background-image: linear-gradient(45deg, rgb(241, 99, 125) 0%, rgb(115, 99, 177) 100%);
    padding-bottom: 50px;
    padding-top: 70px;
}

.faq_bnr h2{
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-variant: normal;
    text-transform: uppercase;
    line-height: 28.6px;
    text-shadow: 2px 6px 5px rgba(0, 0, 0, 0.23);
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.faq_body{
    background-color: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding-top: 30px;
}

.faq_body hr{
    width: 100%;
    clear: both;
    display: block;
    height: 1px;
    margin: 0.9em 0;
    background: none;
    border: 0;
    border-top: 1px solid #dedede;
}

.faq_body h4{
    margin-bottom: 13px;
    font-size: 30px;
}

.faq_body_head{
    padding: 15px 0 5px 0;
    background-color: #f4889c;
    border-radius: 5px;
    margin-bottom: 15px;
}

.faq_body_head h3{
    margin-bottom: 13px;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.according h4{
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

.according_content{
    display: none;
}

.according_content ul{
    padding-left: 1.75em;
    margin-bottom: 0.9em;
}

.according_content ul li{
    list-style: disc;
    text-align: initial;
}

.according_content ul li a{
    color: #007bff;
}

.contact_heading{
    background-image: linear-gradient(45deg, rgb(241, 99, 125) 0%, rgb(115, 99, 177) 100%);
    padding: 80px 0;
}

.contact_heading h1{
    color: rgb(255, 255, 255);
    font-variant: normal;
    text-transform: uppercase;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
    line-height: 1.2;
}

.contact_body{
    padding-bottom: 80px;
}

.contact_details{
    margin-top: -40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
}

.contact_details form{
    margin-bottom: 1.17em;
}

.contact_details form h3{
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 1.3;
}

.contact_details form p{
    font-size: 12px;
}

.contact_details form .fom-item{
    display: block;
    width: 100%;
    margin-bottom: 0.9em;
    /* padding: 0 5px; */
}

.contact_details form .fom-item label{
    font-size: 1em;
    display: inline-block;
    margin-bottom: 5px;
}

.contact_details form .fom-item label span{
    color: #c83832;
}

.contact_details form .fom-item input, textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 2.7em;
    padding: 0.6em 0.875em;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 0;
    color: #222222;
}

.contact_details form .fom-item textarea{
    height: 7.5em;
}

.contact_details form .butn .button{
    width: 100%;
    margin-top: 0.45em;
    cursor: pointer;
    -webkit-appearance: button;
    border-radius: 30px;
    color: rgb(25, 25, 25) !important;
    font-weight: normal;
    text-transform: uppercase;
    background-image: linear-gradient(0deg, transparent 10%, transparent 90%);
    border: 2px solid rgb(241, 99, 125);
    background-color: transparent;
}

.contact_details form .butn .button:hover{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(241, 99, 125);   
}

footer{
    background-color: #000;
    padding: 40px 0;
}

footer img{
    width: 55%;
    height: auto;
    color: #fff;
}

footer h6{
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

footer h2{
    margin-bottom: 13px;
    font-size: 30px;
    color: #fff;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    margin-top: 0;
}

footer ul{
    padding-left: 40px;
}

footer ul > li{
    position: relative;
}

footer ul > li::before{
    content: "\02DC";
    color: rgb(241, 99, 125);
    display: block;
    font-size: 44px;
    position: absolute;
    left: -11px;

}

footer ul > li  > a{
    position: relative;
    display: block;
    padding: 3px 8px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

footer ul > li  > a:hover{
    color: rgb(241, 99, 125);
}

.social_icon{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

.social_icon a{
    padding-right: 40px;
    color: #fff;
    font-size: 25px;
}

footer p{
    color: #fff;
    font-size: 18px;
    line-height: 27px;
}

footer .subscribe{
    margin-top: 20px;
    width: 60%;
}

footer .subscribe p{
    margin-bottom: 5px;
}

footer form{
    width: 100%;
    position: relative;
}

footer form .icon{
    cursor: default;
    position: absolute;
    left: 0;
    color: #4d4d4d;
    font-size: 20px;
}

footer form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #4d4d4d;
    background: transparent;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 18px;
    padding-left: 25px;
    padding-bottom: 5px;
}

footer form button{
    border: none;
    background: rgb(241, 99, 125);
    display: inline;
    color: #fff;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media screen and (max-width:1199px){
    /***************************************
            Header Section
    ****************************************/
    body {
        margin: 100px 0 0 0;
    }
    .logo {
        width: 16%;
    }
    .header.fix .hdrIn .logo {
        width: 16%;
    }
    .nav { width: 84%}
    .nav > ul{
        margin-left: 1%;
    }
    .nav > ul > li > a {
        margin: 0 5px;
        letter-spacing: 0px;
        padding: 8px 2px;
        font-size: 12px;
    }
    .home_women .women_details .single_women_details {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 60px;
    }
    .page_area .course_btn, .course_details_bnr .course_btn {
        padding: 15px 50px;
    }
    .individual_courses .heading_indi h2 {
        font-size: 40px;
    }
}

@media screen and (max-width:991px){
        /***************************************
                Header Section
        ****************************************/
    body {
        margin: 62px 0 0 0;
    }
    .hdrIn {padding: 5px 0}
    .header.fix .hdrIn {
        padding: 5px 0;
    }
    .header.fix .hdrIn .logo {
        width: 20%;
    }
    .logo {
        width: 25%;
        margin: auto;
    }
    .togglarBtn {
        display: block;
        background-color: transparent;
        font-size: 35px;
        padding: 2px 10px;
        border: none;
        border-radius: 6px;
        outline: none;
        color: rgb(241, 99, 125);
        font-weight: 900;
    }
    .header.fix .togglarBtn{
        font-size: 25px;
        padding: 2px 8px;
    }
    .phone{
        display: block;
        color: rgb(241, 99, 125);
        font-size: 25px;
    }
    .nav {
        height: 100vh; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: rgb(246, 244, 244); /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 70px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    /* .nav ul{} */
    .nav ul{
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }
    .nav ul > li{
        display: block;
        margin: 0;
    }
    .nav ul > li:last-child{display: none}
    .nav ul > li > a{
        margin: 0;
        padding: 0;
    }
    /* .nav ul > li > a{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin: 0 15px;
        color: #fff;
    }
    .header.fix .hdrIn .nav > ul > li > a {
        font-weight: 500;
    }
    .nav >ul > li a.active{color: #fff}
    .nav >ul > li a:after{background-color:  #fff} */
    .nav .closebtn {
        color: rgb(241, 99, 125);
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #main {transition: margin-left .5s;}
    .home_bnr h4 {font-size: 30px;}
    .home_bnr h2 {font-size: 58px;}
    .home_bnr .btn_bnr {padding: 15px 67px;}
    .home_bnr p {font-size: 20px;}
    .leading_company h3 {font-size: 17px;}
    .home_women .women_heading {font-size: 28px;}
    .home_women .women_apply h2{font-size: 20px;}
    .home_women .women_experience h4 {font-size: 28px;}
    .home_women .women_experience h2 {font-size: 33px;}
    .training h2 {font-size: 30px;}
    .page_area h1, .course_details_bnr h1 {
        font-size: 35px;
    }
    .page_area p, .course_details_bnr p {
        font-size: 20px;
        line-height: 30px;
    }
    .page_area .course_btn, .course_details_bnr .course_btn {
        padding: 10px 30px;
    }
    .individual_courses .heading_indi h2 {
        font-size: 32px;
    }
    .individual_courses .heading_indi p {
        font-size: 14px;
    }
    .our_clases h4 {
        font-size: 18px;
    }
    .our_clases ul li {
        font-size: 14px;
    }
    .course_body h2 {
        font-size: 35px;
    }
    .course_details h3 {
        font-size: 25px;
    }
    .ui-datepicker-prev {
        left: 42%;
    }
    .ui-datepicker-next {
        left: 50%;
    }
    .course_details .details_btn a {
        padding: 5px 30px;
        font-size: 20px;
    }
}
@media screen and (max-width: 767px){
    body {
        margin: 62px 0 0 0;
    }
    .home_bnr h2 {
        font-size: 40px;
    }
    .home_bnr .btn_bnr {
        padding: 15px 67px;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .leading_company .company_logo {flex-direction: column;}
    .leading_company .single_company_logo {
        width: 22%;
        margin-bottom: 10px;
    }
    .home_women .women_heading {
        font-size: 20px;
    }
    .home_women .women_details .single_women_details {
        padding-top: 68px;
        margin-bottom: 20px;
    }
    .home_women .women_details img {top: -35%;}
    .home_women .women_experience h4 {
        font-size: 25px;
        text-align: center;
    }
    .home_women .women_experience h2 {
        font-size: 30px;
        text-align: center;
    }
    .home_women .women_experience .single_experience_details .single_experience_btn{display: block;}
    .training .single_training {
        margin-bottom: 20px;
        width: 60%;
        margin: 10px auto;
    }
    .testimonials .col-md-6.offset-md-3 .col-md-6{
        text-align: center;
    }
    .testimonials img {
        width: 40%;
        margin-bottom: 40px;
    }
    .calendar .date h3 {
        font-size: 24px;
    }
    .ui-datepicker-prev, .ui-datepicker-next {
        width: 28px;
        height: 28px;
    }
    .ui-datepicker-prev {
        left: 45%;
    }
    .ui-datepicker-next {
        left: 52%;
    }
    footer img {
        width: 30%;
    }
    footer ul {
        text-align: center;
        padding: 0;
        margin: 20px 0;
    }
    footer ul > li::before {
        display: none;
        margin: 20px 0;
    }
    .social_icon {
        justify-content: center;
    }
    footer p {text-align: center;}
    footer .subscribe {width: 100%;}
    footer form {
        width: 60%;
        margin: 20px auto;
        margin-bottom: 70px;
    }
    .page_area .contact_details {
        margin-top: 40px;
    }
    .individual_courses .heading_indi h2 {
        font-size: 24px;
    }
    .individual_courses .heading_indi p {
        line-height: 18px;
        font-size: 14px;
    }
    .individual_courses .indi_body {
        background-image: linear-gradient(180deg, rgb(241, 99, 125) 37%, rgb(255, 255, 255) 37%);
    }
    .our_clases h4 {
        font-size: 18px;
        margin-top: 20px;
    }
    .course_body .tabs a {
        font-size: 18px;
        margin-right: 15px;
    }
    .course_details .details_btn a {
        padding: 5px 25px;
        font-size: 16px;
    }
    .course_details .details_btn a span {
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 575px){
    body {
        margin: 48px 0 0 0;
    }
    .togglarBtn {
        font-size: 25px;
    }
    .phone {
        font-size: 25px;
    }
    .logo {
        width: 30%;
    }
    .header.fix .hdrIn .logo {
        width: 25%;
    }
    .home_bnr {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .home_bnr h4 {
        font-size: 20px;
    }
    .home_bnr h2 {
        font-size: 25px;
        margin-top: 10px;
    }
    .home_bnr p {
        font-size: 16px;
        line-height: 25px;
    }
    .leading_company {
        padding: 30px 0;
    }
    .leading_company h3 {
        font-size: 13px;
    }
    .leading_company .single_company_logo {
        width: 40%;
        margin-bottom: 10px;
    }
    .home_women {
        padding: 40px 0;
    }
    .home_women .women_heading {
        font-size: 18px;
    }
    .home_women .women_details img {
        top: -25%;
    }
    .home_women .women_apply h2 {
        font-size: 18px;
    }
    .home_women .women_experience_pt {
        padding-top: 20px;
    }
    .home_women .women_experience h4 {
        font-size: 20px;
    }
    .home_women .women_experience h2 {
        font-size: 25px;
    }
    .single_experience {
        margin-top: 20px;
    }
    .home_women .women_experience .single_experience_details .single_experience_btn{
        padding: 15px 30px;
    }
    .training {
        padding: 40px 0;
    }
    .training h5 {font-size: 16px;}
    .training h2 {
        font-size: 22px;
    }
    .training .single_training {width: 80%;}
    p {
        line-height: 20px;
        font-size: 12px;
    }
    .testimonials {
        padding: 40px 0;
    }
    .single_testimoniale_details h4 a {
        font-size: 16px;
    }
    .single_testimoniale_details p {
        font-size: 14px;
    }
    .page_area {
        padding: 50px 0;
    }
    .page_area h1, .course_details_bnr h1 {
        font-size: 22px;
    }
    .page_area p, .course_details_bnr p {
        font-size: 16px;
        line-height: 22px;
    }
    .page_area .course_btn, .course_details_bnr .course_btn {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .page_area .contact_details {
        margin-top: 20px;
    }
    form iframe {
        width: 100%;
    }
    .individual_course_heading {
        padding: 30px 0;
    }
    .individual_courses .indi_body {
        background-image: linear-gradient(180deg, rgb(241, 99, 125) 25%, rgb(255, 255, 255) 25%);
    }
    .individual_courses .heading_indi h2 {
        font-size: 18px;
    }
    .individual_courses .heading_indi p {
        line-height: 16px;
        font-size: 12px;
    }
    .our_clases h4 {
        font-size: 17px;
        margin-top: 20px;
    }
    .course_details .details_btn a {
        display: block;
        text-align: center;
    }
    .course_body .tabs a {
        display: block;
        text-align: center;
    }
    .course_details h3 {
        font-size: 20px;
    }
    .ui-datepicker-prev, .ui-datepicker-next {
        display: inline-block;
        width: 25px;
        height: 25px;
    }
    .ui-datepicker-prev {
        left: 70%;
    }
    .ui-datepicker-next {
        left: 82%;
    }
    .single_course_details .course_info h4 {
        font-size: 14px;
    }
    .single_course_details .course_info p {
        font-size: 12px;
        line-height: 16px;
    }
    .single_course_details .course_schedule {
        flex-direction: column;
    }
    .schedule {
        width: 100%;
        text-align: center;
    }
    .single_course_details .course_schedule .schedule p {
        font-size: 13px;
    }
    .single_course_details .course_schedule .schedule p span {
        font-size: 16px;
    }
    .schedule_btn {
        width: 100%;
    }
    .schedule_btn a {
        display: block;
        text-align: center;
    }
    .single_course_details .course_img {
        height: 149px;
    }
    .calendar .date h3 {
        font-size: 20px;
    }
    .calendar .date h3 .angle {
        width: 25px;
        height: 25px;
    }
    footer p {
        font-size: 13px;
        line-height: 20px;
    }
    footer form {
        width: 100%;
    }
}